* {
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
    border: 5px solid black;
}

.container-items {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;/* isso é importante para que só apareçam as imagens que estão dentro do container */
}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 2s;
}

/* detalhe aqui para imagem ficar antes, e mostrar já a segunda imagem */
.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none; /* tirar modo de click visual */
    z-index: 1; /* mostrar o botão por cima do container */
}
.action-button:hover{
    color: white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

h1{
    text-align: center;
    margin-top: 30px;
}